commands:
  # Install GNU Java Compiler
  01_install_libgcj:
    command: yum -y install libgcj
    ignoreErrors: true
  
  # Install PDFtk
  02_wget_pdftk:
    command: wget https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk-2.02-1.x86_64.rpm
    ignoreErrors: true
  03_install_pdftk:
    command: rpm -ivh pdftk-2.02-1.x86_64.rpm
    ignoreErrors: true
  
  # Install PDFJam
  04_install_tetex_latex:
    command: yum -y install tetex-latex
    ignoreErrors: true
  05_wget_pdfjam:
    command: sudo wget http://dl.fedoraproject.org/pub/epel/6/i386/Packages/p/pdfjam-2.08-1.el6.noarch.rpm
    ignoreErrors: true
  06_install_pdfjam:
    command: rpm -ivh pdfjam-2.08-1.el6.noarch.rpm
    ignoreErrors: true